@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  background: linear-gradient(to right, #24243e, #141e30, #0f0c29);
  user-select: none;
  outline: none;
  -webkit-tap-outline: none;
}
